
<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
		<link rel="stylesheet" type="text/css" href="./about.css">
</head>

<body>
<div id="Start">	
<div>	
<h1>About Us</h1>
</div>
<div id="Whole">
	<ol style="list-style: none;">
		
		<li><h3 class="Sub">Overview</h3>
			<div id="Overview">
			  <div> The Approval System helps the students to communicate with administration department with a lower effort made.</div>The students requiring the admintrative approval can request their constent to the department.  
			</div>

		</li>
	
	
		<li><h3 class="Sub">Vision</h3>
			<div id="Vision">Proper response about the consent will be given to the students as soon as possible. </div>
		</li>
		
		<li><h3 class="Sub">Functions</h3>
			<div id="Functions">
			  <ul style="list-style: none;">
			  	<li>Controlling and monitoring the submissions and responses.</li>
			  	<li>To lower the traffic of consents during the important occasions.</li>
			  	<li>Improving the easness for both students and the admisntration department.</li>
			  </ul>	
			</div>
		</li>
	
	
		<li>
		<h3 class="Sub">Help</h3>
		
			<div id="help">
			The students with further doubts are requested to view the </span><i><a href="contact.html">contact us</a></i></span> page for to the contact the required.
		</div>
	</li>
	
	</ol>
</div>
</div>
</body>
</html>